# Rust
/target/
Cargo.lock
**/target/
*.pdb
*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
.venv/
venv/
env/
.env
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/

# Frontend
node_modules/
dist/
.dts/
*.tsbuildinfo

# Docker
.dockerignore

# Secrets
secrets/
!secrets/.gitkeep

# IDE
.vscode/
.idea/

# Logs
*.log
*.log.*

# Mac
.DS_Store
